.image{
    width: 300px;
    height: 400px;
}
div{
    border: 3px solid black;
    background-color: lightpink;
}
.container{
    display:flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    height: 600px;
    border:1px solid red;
}
.kutu{
    margin: 10px;
    background-color: blanchedalmond;
    width: 100px;
    height: 100px;
}