.cta-banner{
display: flex;




}
.title{
    font-family: "Lato", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 60px;
line-height: 72px;
letter-spacing: -2%;
text-transform: capitalize;

} 