.heroContainer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;

}
.title{
font-family: "Lato",sans-serif;
font-weight: 800;
font-size: 64px;
line-height: 40px;
letter-spacing: -2%;
text-align: center;

}