@import url("./styles/index.css");

/* irem kırdök -NO-3 -Design the Hero Section start */

body {
  background-color: rgb(246, 246, 246);
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.frame-three {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 40px;
}
.right-place {
  max-width: 300px;
  width: 100%;
}

.left-place {
  width: 300px;
  max-width: 100%;
}

.frame-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  padding: 10px;
  line-height: 1.2;
  font-size: 36px;
  color: black;
  text-align: center;
}

.frame-two span {
  color: rgb(1, 1, 86);
}

.frame-two-title {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.frame-one {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.title {
  font-size: clamp(24px, 5vw, 50px);
}

.get-started {
  background-color: #043a53;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.check-video {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .left-place,
  .right-place {
    display: none;
  }
}
@media (max-width: 400px) {
  .frame-one {
    flex-direction: column;
  }
}

/* irem kırdök -NO-3 -Design the Hero Section end */
