@import url("./styles/index.css");
/* Ayşenur-NO-10 Implement the video section responsiveness start */

#video-section{
    background-color:#043A53 ;
    color:white;
    padding:100px 150px 0;
    
}
#video-section .container{
    max-width:1140px;
    margin: 0 auto;
    
}
.section-header{
    font-family:'Lato',sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:40px;
    margin-bottom: 64px;
}
.section-header h2{
    font-weight: 700;
    font-size:60px;
    line-height: 72px;
    max-width: 520px;
}
.section-header h2 span{
    color:#F2C94C;
    white-space: nowrap;
}
.section-header p{
    font-size: 20px;
    line-height:30px;
    max-width: 380px;
}
.video-thumbnail{
    display:block;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

.main-photo{
    width: 100%;
    display: block;
}
.play-button{
    top:50%;
    left:50%;
    width: 90px;
    height: 90px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%,-50%);
}
.play-button:hover{
    transform: translate(-50%, -50%) scale(1.1); 

}
.play-button img{
    width: 30px;
    height: auto;
}
@media (max-width: 1300px) {
  .section-header {
    flex-direction: column;
  }
  .section-header h2 span {
    white-space: normal;
  }
}
@media(max-width:768px){
#video-section{
    padding: 50px 20px 20px;
}

.section-header{
    
    gap:30px;
    margin-bottom: 30px;
}
.section-header h2{
    font-size: 30px;
    line-height: 38px;
}

.section-header p{
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
}
.play-button{
    width: 35px;
    height: 35px;
}
.play-button img{
    width: 20px;
}
}
/* Ayşenur-NO-10 Implement the video section responsiveness end */