@import url("./styles/index.css");



  /*Cemre Ozgules -NO-27 -Create the Site credits section start */

  
 .footer-link {
     margin: 0;
    padding: 0;
}


footer {
  
    background: white;
    padding: 15px;
    border-top: 1px solid grey;

}



.footer-container {
    max-width: 1440px;
    padding: 24px 20px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    color: grey;
    font-size: 14px;
    margin: 0;
}

.footer-center {
    display: flex;
    gap: 20px;
}

.footer-center a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.footer-center a:hover {
    color: blue;
}

.footer-right p {
    font-family: var(--primary-font,'Lato',sans-serif); 
    color: grey;
    font-size: 14px;
    margin: 0;
}





@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}




/*Cemre Ozgules -NO-27 -Create the Site credits section end */

/* Efe Ilgaz Köksal Implement the benefits section No 11 start */
.benefits{
    background-color: #f9f9f9;
    padding: 100px 20px;
}

.benefit-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.benefit-header{
    flex:1;
    padding-top: 100px;
}
.benefit-badge{
    display : inline-block;
    background-color: #043A53;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: var(--primary-font,'Lato',sans-serif); 
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.benefit-header h2{
font-family: var(--primary-font,'Lato',sans-serif);
font-weight: 700;
font-size: 60px;
letter-spacing: 0.1px;
margin-bottom: 20px;
}
.benefit-header p{
    font-family: var(--primary-font,'Lato',sans-serif); 
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.benefit-cards{
    flex: 3;
    display: flex;
    gap: 30px;
}
.cards{
    background: #F2F5F6;
    padding: 40px;
    border-radius: 16px;
    flex: 1;
}
.card-design{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.cards h3{
    font-family: var(--primary-font,'Lato',sans-serif);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
.cards p{
    font-family: var(--primary-font,'Lato',sans-serif);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
@media(max-width:1000px){
    .benefit-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .benefit-header{
        padding-top: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .benefit-cards{
        flex-direction: column;
    }
   
}
/* Efe Ilgaz Köksal Implement the benefits section No 11 end */

/* Ayşenur-NO-9 Implement the Video Section start */
.video-section{
    background-color:#043A53 ;
    color:white;
    padding:100px 150px 20px;   
}
.video-section-container{
    max-width:1140px;
    margin: 0 auto;
}
.video-section-header{
    font-family:'Lato',sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:40px;
    margin-bottom: 64px;
}
.video-section-header h2{
    font-weight: 700;
    font-size:60px;
    line-height: 72px;
    max-width: 520px;
}
.video-section-header h2 span{
    color:#F2C94C;
    white-space: nowrap; 
}
.video-section-header p{
    font-size: 20px;
    line-height:30px;
    max-width: 380px;
}
.ekip-video {
  width: 100%;
  max-width: 1130px;
  aspect-ratio: 1130 / 754;
  display: block;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .video-section-header {
    flex-direction: column;
  }
  .video-section-header h2 span {
    white-space: normal;
  }
  .video-section-header p{
    max-width: 100%;
}
}
@media(max-width:768px){
.video-section{
    padding: 50px 20px 20px;
}

.video-section-header{
    gap:30px;
    margin-bottom: 30px;
}
.video-section-header h2{
    font-size: 30px;
    line-height: 38px;
}
.video-section-header p{
    font-size: 14px;
    line-height: 20px;
}
}

/* Ayşenur-NO-9 Implement the Video Section end */

