.cta-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12141D; /* lacivert */
  padding: 80px 120px;
}
.cta-left{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}




.title{
    font-family: "Lato", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 60px;
line-height: 72px;
letter-spacing: -2%;
color: white;
text-transform: capitalize;

} 

.sub{
  color: #FFFFFF;
  font-size: 18px;
  opacity: 0.7;
}
.cta-btn{
  width: 260px;
  height: 60px;
  background-color: #FFC727;  
  border-radius: 8px;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.cta-right img{
  width: 90%; 
  height: auto;
  object-fit: cover;
}
.star-decor{
  position: absolute;
  bottom: 20px;
  left: 100px;
  width: 90px;
}