*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.unordered-list{
    border: 3px solid blue;
    display: flex;
    gap: 20px;
}
.unordered-list li{
    list-style: none;
}