body {
    background-color: rgb(162, 102, 218);
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
}
h1 {
    font-weight: bolder;
    margin-top: 50px;
    border: 5px solid green;
}